<div id="<%= dom_id variation %>">
  <p>
    <strong>Product:</strong>
    <%= variation.product_id %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= variation.size %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= variation.quantity %>
  </p>

</div>
