<h1>Editing variation</h1>

<%= render "form", variation: @variation %>

<br>

<div>
  <%= link_to "Show this variation", @variation %> |
  <%= link_to "Back to variations", variations_path %>
</div>
