<p style="color: green"><%= notice %></p>

<h1>Variations</h1>

<div id="variations">
  <% @variations.each do |variation| %>
    <%= render variation %>
    <p>
      <%= link_to "Show this variation", variation %>
    </p>
  <% end %>
</div>

<%= link_to "New variation", new_variation_path %>
